@font-face {
    font-family: 'KoPub-Kr';
    font-weight: 100;
    src: url('KoPubWorldDotumLight.ttf') format('truetype');
}
/*@font-face {*/
/*    font-family: 'KoPub-Kr';*/
/*    font-weight: 200;*/
/*    src: url('KoPubWorldDotumMedium.ttf');*/
/*}*/
/*@font-face {*/
/*    font-family: 'KoPub-Kr';*/
/*    font-weight: 300;*/
/*    src: url('KoPubWorldDotumBold.ttf');*/
/*}*/